* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 325px;
}

h1 {
  color: #CCB69B;
  font-size: 2.25em;
}
span {
  color: #AF1B3F;
}

button {
  align-items: center;
  background-color: #473144;
  border-radius: 0px 45px 45px 0px;
  border: none;
  color:#CCB69B;
  display: flex;
  font-size: 2em;
  height: 60px;
  justify-content:space-between;
  margin-top: 40px;
  outline: 0;
  padding: 0px 10px;
}

button:hover,
button:focus {
  background-color: #AF1B3F;
}

.icon {
  border-radius: 0px;
  height: inherit;
  width: auto;
}