* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article {
  background-color:#CCB69B;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  margin: 10px;
  width: 48%;
}

img {
  background-position: 50% 50%;
  border-radius: 45px 45px 0px 0px;
  height: 300px;
  object-fit: cover;
  width:100%;
}

a {
  align-items: center;
  background-color: #AF1B3F;
  border-radius: 0px 0px 45px 45px;
  color:#CCB69B;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}